[run]
branch = True
parallel = True
concurrency = multiprocessing
omit=
    */venv/*
    wsgi.py
    */staticfiles/*
    */migrations/*
    */tests/*
    manage.py
    urls.py
    **/__init__.py
    **/settings.py

[html]
directory = coverage

[report]
skip_empty = true
exclude_lines =
    pragma: no cover
    raise NotImplementedError
