[run]
branch = True
omit=
    */venv/*
    wsgi.py
    */staticfiles/*
    */migrations/*
    */tests/*
    manage.py
    urls.py
    **/__init__.py
    **/settings.py

parallel = True
concurrency = multiprocessing

[html]
directory = coverage
