.git
.github
.dockerignore
.gitignore
.watchmanconfig

.idea
.vscode

__pycache__/
**/*.pyc
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.venv
venv
node_modules

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode
.idea
.pre-commit-config.yaml
data
schema.yml
**/tests/**
