.git
.github
.gitignore
docker-compose.yml

.mypy_cache/
.ruff_cache/
__pycache__/
**/*.pyc
*.py[cod]
*$py.class
*.so
htmlcov/
coverage/
.pre-commit-config.yaml
.coverage
.coveragerc
.coverage.*
.pytest_cache/
.venv
venv
node_modules

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode
.idea
.cache
.prettierrc
.pre-commit-config.yaml
prospektor.yaml
data
schema.yml
**/tests/**
infra/
docker/
docker-compose.local.yml
scripts/
output/
setup.cfg
.watchmanconfig
e2e/
