# ============================================
# ROUTING - Choose ONE method
# ============================================

# Option 1: Gateway API (disabled for minikube - requires CRDs)
gateway-api:
  enabled: false

# Option 2: Ingress (enabled for minikube)
ingress:
  enabled: true
  ingress:
    className: nginx
    namespace: production
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/proxy-body-size: 100m
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    django:
      host: django.example.com
      path: /
      serviceName: app
      servicePort: 80
    static:
      host: django.example.com
      paths:
        - /static
        - /media
      serviceName: nginx
      servicePort: 80
    tls:
      enabled: true
      secretName: django-tls

# ============================================
# SUBCHART VALUES
# ============================================

redis:
  {}

django:
  image:
    repository: victorysokolov/django-blog
    tag: a8c09be
    pullPolicy: Always
  appsecrets: app-secret
  persistence:
    enabled: false
    existingClaim: static-storage-pvc

nginx:
  {}

postgres:
  persistence:
    enabled: false
    existingClaim: postgres-pvc

pgbouncer:
  {}

haproxy:
  {}
