apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: {{ .Values.app }}
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
  name: {{ .Values.app }}
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  selector:
    io.kompose.service: {{ .Values.app }}
