apiVersion: v1
data:
  nginx.conf: |
    user nginx;
    worker_processes  3;
    error_log  /var/log/nginx/error.log;
    events {
      worker_connections  10240;
    }
    http {
      log_format  main
        'remote_addr:$remote_addr\t'
        'time_local:$time_local\t'
        'method:$request_method\t'
        'uri:$request_uri\t'
        'host:$host\t'
        'status:$status\t'
        'bytes_sent:$body_bytes_sent\t'
        'referer:$http_referer\t'
        'useragent:$http_user_agent\t'
        'forwardedfor:$http_x_forwarded_for\t'
        'request_time:$request_time';
      access_log	/var/log/nginx/access.log main;

      include /etc/nginx/nginx-custom.conf;
    }
  nginx-custom.conf: |
    upstream app {
      server app:80;
    }

    server {
      listen 80;

      location / {
        proxy_pass http://app;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_redirect off;
      }

      location /static/ {
        types {
          text/html                                        html htm shtml;
          text/css                                         css;
          application/javascript                           js;
          image/jpeg                                       jpeg jpg;
          image/png                                        png;
          application/json                                 json;
        }
        autoindex off;
        alias /app/output/static/;
      }

      location /media/ {
        alias /app/output/mediafiles/;
      }
    }
kind: ConfigMap
metadata:
  name: nginx-conf
  namespace: production
  labels:
    {{- include "configmap.labels" . | nindent 4 }}
