apiVersion: v1
kind: Service
metadata:
  name: app
  namespace: production
  labels:
    io.kompose.service: app
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  selector:
    io.kompose.service: app
