.blog-container {
    max-width: 700px;
    margin: 20px auto;
}

.blog-post {
    width: 38.5rem;
    margin: 15px;
    padding: 15px;
}

.blog-meta {
    display: flex;
    justify-content: space-between;
}

.navbar {
    margin-bottom: 50px;
}

.add-post-btn {
   margin-left: auto;
}

.profile-dropdown > img {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.profile-data {
    margin-left: 20px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.tags-section {
    margin-top: 12px;
}

.tag {
    background: #ecececee;
    padding: 4px;
}
