.blog-container {
    max-width: 600px;
    margin: 20px auto;
}

.blog-post {
    width: 38.5rem;
    margin: 15px;
    padding: 15px;
}

.blog-meta {
    display: flex;
    justify-content: space-between;
}

.navbar {
    margin-bottom: 50px;
}
