.blog-container{
    margin-top: 40px;
}

.blog-post {
    width: 38.5rem;
    margin: 15px;
    padding: 15px;
}

.blog-meta {
    display: flex;
    justify-content: space-between;
}

.navbar {
    margin-bottom: 50px;
}
