<div class="col-md-6">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">{% if object_list.has_previous %}</li>

            <li class="previous">
                <a href="?page={{ object_list.previous_page_number }}">
                    <span aria-hidden="true">‹</span></a
                >
                {% else %}
            </li>

            <li class="previous disabled">
                <a>‹</a>
                {% endif %}
            </li>
            {% for page in object_list.paginator.page_range %} {% if page ==
            object_list.number %}
            <li class="pg active">
                <a class="page_number" href="?page={{page}}">{{page}}</a> {%
                else %}
            </li>

            <li class="pg">
                <a class="page_number" href="?page={{page}}">{{page}}</a> {%
                endif %} {% endfor %}
            </li>

            <li class="page-item">
                <!-- Jump to Next Page -->
                {% if object_list.has_next %}
            </li>

            <li class="previous">
                <a href="?page={{ object_list.next_page_number }}">›</a>
            </li>
            {% else %}
            <li class="next disabled">
                <a>›</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
