{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% if title %}
		<title>Django Blog - {{ title }}</title>
		{% else %}
		<title>Django Blog</title>
		{% endif %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
		/>
        <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="{% static 'styles.css' %}" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="{% url 'home' %}"
								>Home</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'post' %}">
								Posts
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
						{% if request.user.is_authenticated %}
						<li class="nav-item">
							<div class="add-post-btn">
								<a
									href="#"
									class="btn btn-outline-warning"
									data-bs-toggle="modal"
									data-bs-target="#modal"
								>
									Add Post
									<i class="bi bi-arrow-right"></i>
								</a>
							</div>
						</li>
						<li class="nav-item dropdown profile-data">
							<a
								class="nav-link"
								href="#"
								id="dropdown"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								<div class="profile-dropdown">
									<img src="{{ user.profile_picture.url }}" alt="Avatar">
								</div>
							</a>
							<ul
								class="dropdown-menu"
								aria-labelledby="navbarDropdown"
							>
								<li>
									<a class="dropdown-item" href="#">
										{{ user.name}}
										<br>
										{{user.email}}
									</a>
								</li>
								<li><hr class="dropdown-divider" /></li>
								<li class="nav-item">
									<a
										class="dropdown-item"
										href="{% url 'logout' %}"
									>
										Log Out
									</a>
								</li>
							</li>
						</ul>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login' %}">
								Sign In
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'signup' %}">
								Sign Up
							</a>
						</li>
						{% endif %}
					</ul>
					<!-- Modal Windows -->
					<div
						class="modal fade"
						id="modal"
						tabindex="-1"
						aria-labelledby="exampleModalLabel"
						aria-hidden="true"
					>
						<div
							class="modal-dialog modal-dialog-centered modal-lg"
						>
							<div class="modal-content">
								<div class="modal-header">
									<h5
										class="modal-title"
										id="exampleModalLabel"
									>
										Add new post
									</h5>
									<button
										type="button"
										class="btn-close"
										data-bs-dismiss="modal"
										aria-label="Close"
									></button>
								</div>
								<div class="modal-body">
									<form action="add/" method="POST">
										{% csrf_token %} {% for field in form %}
										<div class="mb-3">
											{{ field.label_tag }} {{ field }}
											{{form.media}}
										</div>
										{% endfor %}
										<button
											type="submit"
											class="btn btn-primary"
										>
											Save changes
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="container">{% block content %}{% endblock %}</div>
		{% block extra_js %}
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://unpkg.com/@yaireo/tagify"></script>
        <script>
            const input = document.querySelector('input[name=tags]');
            new Tagify(input)
        </script>
		{% endblock extra_js %}
	</body>
</html>
