{% extends 'base.html' %}

{% block content %} {% load static %}
<div class="row">
    <div class="blog-container">
        <h1>Latest Posts</h1>

        <hr />
        <section class="blog-posts">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                {% for post in posts %}
                <div class="card blog-post">
                    <div class="card-body">
                        <a href="{{ post.id }}">
                            <h2 class="card-title">{{ post.title }}</h2>
                        </a>
                        <div class="blog-meta">
                            <p>Date: {{ post.created_at }}</p>
                            <p>Author: {{ post.user }}</p>
                        </div>
                        <p class="card-text">{{ post.content|safe }}</p>
                        <div class="tags-section">
                            {% for tag in post.tags %}
                            <span class="tag">#{{ tag.tag }}</span>
                            {% endfor %}
                        </div>
                        <div class="like-heart">
                            <a href="#" class="like-button">
                                <span class="like-icon"></span>
                                <span>Like</span>
                            </a>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </section>
    </div>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock content %}
