{% extends 'base.html' %} {% block content %}
<div class="row">
	<div class="blog-container">
		<h1>Latest Posts</h1>

		<hr />
		<section class="blog-posts">
			<div style="display: flex; flex-direction: row; flex-wrap: wrap">
				{% for post in posts %}
				<div class="card blog-post">
					<div class="card-body">
						<a href="{{post.id}}">
							<h2 class="card-title">{{ post.article.title }}</h2>
						</a>
						<div class="blog-meta">
							<p>Date: {{ post.article.created_at }}</p>
							<p>Author: {{ post.user }}</p>
						</div>
						<p class="card-text">{{ post.article.content|safe }}</p>
						<a href="{{post.id}}" class="btn btn-outline-primary">
							Read More
						</a>
					</div>
				</div>

				{% endfor %}
			</div>
		</section>
	</div>
</div>
{% endblock %}
