apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app }}
  labels:
    {{- include "configmap.labels" . | nindent 4 }}
data:
  PGBOUNCER_PORT: {{ .Values.pgbouncer.listen_port|quote }}
  PGBOUNCER_AUTH_TYPE: {{ .Values.pgbouncer.auth_type|quote }}
  POSTGRESQL_HOST: {{ .Values.database.host|quote }}
  POSTGRESQL_PORT: {{ .Values.database.port|quote }}
  POSTGRESQL_USERNAME: {{ .Values.database.user|quote }}
  POSTGRESQL_DATABASE: {{ .Values.database.name|quote }}
  PGBOUNCER_DATABASE: {{ .Values.database.name|quote }}
  pgbouncer.ini: |
{{ .Values.pgbouncer.config | indent 4 }}
  userlist.txt: |
{{ .Values.pgbouncer.userlist | indent 4 }}
