replicaCount: 1

app: pgbouncer
image:
  repository: edoburu/pgbouncer
  tag: latest
  pullPolicy: IfNotPresent

auth:
  username: user
  password: securepassword

pgbouncer:
  listen_port: 6432
  auth_type: plain
  auth_file: /bitnami/pgbouncer/conf/userlist.txt
  config: |
    [databases]
    blog = host=postgres dbname=blog user=user password=securepassword port=5431

    [pgbouncer]
    listen_addr = 0.0.0.0
    listen_port = 6432
    auth_type = any
    auth_file = /bitnami/pgbouncer/conf/userlist.txt
    pool_mode = session
    max_client_conn = 150
    reserve_pool_size = 40
    default_pool_size = 200
    admin_users = pgbouncer
    stats_users = pgbouncer
    so_reuseport = 1
    ignore_startup_parameters = extra_float_digits, jit

    log_connections = 0
    log_disconnections = 0

  userlist: |
    "user" "securepassword"

metrics:
  user: pgbouncer
  password: pgbouncer

database:
  host: postgres
  name: blog
  user: user
  password: securepassword
  port: 5431
  pgport: 6432
